<aside class="col-md-2">
    <div class="logo">
        <p>بوكلي</p>
    </div>
    <div class="main-pages">
        <ul>
            <li class="{{activeclass['home']}}" onclick="window.location.href = '/org/homepage'"><i class="fas fa-house-user mr-1"></i> الصفحة الرئيسية</li>
            <li class="{{activeclass['about']}}" onclick="window.location.href = '/org/about'"><i class="fas fa-layer-group mr-1"></i> المعلومات الرئيسية</li>
            <li class="{{activeclass['contact']}}" onclick="window.location.href = '/org/contact'"><i class="fas fa-cog mr-1"></i> رسائل التواصل</li>
            <li class="{{activeclass['permissions']}}" onclick="window.location.href = '/org/permissions'"><i class="fas fa-users mr-1"></i> الصلاحيات</li>
            <li class="{{activeclass['employee']}}" onclick="window.location.href = '/org/employees'"><i class="far fa-sticky-note mr-1"></i> الموظفين</li>
            <li class="{{activeclass['events']}}" onclick="window.location.href = '/org/events'"><i class="far fa-sticky-note mr-1"></i>الاحداث</li>
            <li class="{{activeclass['tickets']}}" onclick="window.location.href = '/org/tickets'"><i class="fas fa-cog mr-1"></i> التذاكر</li>
            <li class="{{activeclass['member']}}" onclick="window.location.href = '/org/member'"><i class="fas fa-cog mr-1"></i> الاعضاء</li>
            <li class="{{activeclass['notification']}}" onclick="window.location.href = '/org/notification'"><i class="fas fa-cog mr-1"></i> ارسال الاشعارات</li>
            <li class="{{activeclass['membership']}}" onclick="window.location.href = '/org/membership'"><i class="fas fa-cog mr-1"></i> الاشتراك</li>
            <li class="{{activeclass['statistic']}}" onclick="window.location.href = '/org/statistic'"><i class="far fa-sticky-note mr-1"></i>احصائيات عامة</li>
            <li class="{{activeclass['setting']}}" onclick="window.location.href = '/org/settings'"><i class="fas fa-cog mr-1"></i> الاعدادات</li>
            <li onclick="window.location.href = '/logout'"><i class="fas fa-cog mr-1"></i> تسجيل الخروج</li>
        </ul>
    </div>
</aside>