<aside class="col-md-2">
    <div class="logo">
        <p>بوكلي</p>
    </div>
    <div class="main-pages">
        <ul>
            <li class="{{activeclass['home']}}" onclick="window.location.href = '/appadmin/home'"><i class="fas fa-house-user mr-1"></i> الصفحة الرئيسية</li>
            <li class="{{activeclass['users']}}" onclick="window.location.href = '/appadmin/users/all'"><i class="fas fa-users mr-1"></i> المستخدمين</li>
            <li class="{{activeclass['orgs']}}" onclick="window.location.href = '/appadmin/orgs/all'"><i class="fas fa-layer-group mr-1"></i> المنظمات</li>
            <li class="{{activeclass['employee']}}" onclick="window.location.href = '/appadmin/employee/all'"><i class="far fa-sticky-note mr-1"></i> الموظفين</li>
            <li class="{{activeclass['aa']}}" onclick="window.location.href = '/appadmin/statistic/all'"><i class="far fa-sticky-note mr-1"></i>احصائيات خاصة</li>
            <li class="{{activeclass['aa']}}" onclick="window.location.href = '/appadmin/statistic/all'"><i class="far fa-sticky-note mr-1"></i>احصائيات عامة</li>
            <li class="{{activeclass['aa']}}" onclick="window.location.href = '/admin/settings'"><i class="fas fa-cog mr-1"></i> رسائل التواصل</li>
            <li class="{{activeclass['aa']}}" onclick="window.location.href = '/admin/settings'"><i class="fas fa-cog mr-1"></i> المعلومات الرئيسية</li>
            <li class="{{activeclass['setting']}}" onclick="window.location.href = '/appadmin/settings/all'"><i class="fas fa-cog mr-1"></i> الاعدادات</li>
        </ul>
    </div>
</aside>